<div class="pizza-index img-fluid">
  <div class="container text-center py-5">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto menu-background">
      <h1><strong>ピザメニュー</strong></h1>
      <p class="lead">
        Aboutページで紹介したピザの一覧<br>
        会員登録後であれば、ピザの注文が可能です！
      </p>
    </div>
  </div>
</div>
</div>
<div class="album py-5">
  lplplplp
</div>