<div id="container">
  <div id="theTarget">
    <div class="about">
      <div class="container about-container">
        <h1><strong>About</strong></h1>
        <p>
          ピザの種類について知る<br>
          本場イタリアにはどんな種類のピザがあるのか？<br>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col pb-4 text-center mt-5">
    <h1><strong>ピザの名前と代表的なトッピング</strong></h1>
    <p>
      ピザの種類は、大きく分けて3種類あります！<br>
      1つは「トマトソース系」<br>
      2つは「トマトソース以外のピザ」<br>
      3つは「トッピングが決まっていないピザ」です。<br>
      それぞれの種類について、見ていきましょう！
    </p>
  </div>
  <div class="wrap scrollanime">
    <ul id="tab-menu">
      <li><a href="#tab1" class="active">トマトソース系</a></li>
      <li><a href="#tab2" class="">トマトソース系以外</a></li>
      <li><a href="#tab3" class="">トッピングが決まっていない</a></li>
    </ul>
    <div id="tab-contents">
      <div id="tab1" class="tab">
        <div class="row my-5 scrollanime">
          <div class="col-md-6">
            <h2>
              <strong>マルゲリータ</strong>
            </h2>
            <p class="read">
              トマトソースの上に、モッツァレラチーズとバジルの葉っぱを載せたもの。<br>
              トマトソースの赤、モッツァレラチーズの白、バジルの緑が、イタリア国旗の色合いを想起させる。<br>
              イタリア王妃の名前、マルゲリータ・マリーア・テレーザ・ジョヴァンナ・ディ・サヴォイア＝ジェノヴァ(1851~1926)が由来となっている。
            </p>
          </div>
          <div class="col-md-6 my-auto">
            <img src="assets/margelita.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col-md-6">
            <h2>
              <strong>マリナーラ</strong>
            </h2>
            <p class="read">
              トマトソースをベースとし、オレガノ(ヨーロッパの地中海沿岸を原産とするシソ科の多年草)とバジルが加えられたもの。一般的に、肉類やチーズは使わない。<br>
              トマトソースの一種であり、ピザの他にパスタ、ラビオリなどの料理にも使用されている。<br>
              「マリナーラ」という言葉は、イタリア語で「船乗り」を意味する形容詞であり、イタリアの都市ナポリの船乗りが頻繁に食べていたことに由来している。
            </p>
          </div>
          <div class="col-md-6 my-auto">
            <img src="assets/marinara.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col-md-6">
            <h2>
              <strong>ペスカトーレ</strong>
            </h2>
            <p class="read">
              好みの魚介類をトマトソースで仕上げた料理には、大枠で「ペスカトーレ」とつくことが多い。<br>
              「ペスカトーレ」はイタリア語で「漁師」の意味であり、元々は漁師が売れ残りの雑魚などをまとめてトマトソースで煮込んだものが始まりと言われている。

            </p>
          </div>
          <div class="col-md-6 my-auto">
            <img src="assets/pescatole.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col-md-6">
            <h2>
              <strong>オルトナーラ</strong>
            </h2>
            <p class="read">
              野菜をふんだんに用いていることが大きな特徴。<br>
              「オルトラーナ」はイタリア語で「菜園家(野菜を作る人、売る人)」の意味である。<br>
              ちなみに、イタリアのレストランは自分の店で菜園を持っていることが多く、そこで育てた食材を使って料理をすることが多い。
            </p>
          </div>
          <div class="col-md-6 my-auto">
            <img src="assets/ortolana.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col-md-6">
            <h2>
              <strong>パルマ</strong>
            </h2>
            <p class="read">
              生ハムをメインに、ルッコラ(地中海沿岸原産の一年草)、チーズなどをトッピングしたもの。<br>
              「パルマ」とは、イタリアの都市の名前であり、そこで作られたパルマ産生ハムを使用したピザのことをパルマピザという。
            </p>
          </div>
          <div class="col-md-6 my-auto">
            <img src="assets/parma.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col-md-6">
            <h2>
              <strong>サルモーネ</strong>
            </h2>
            <p class="read">
              スモークサーモンやモッツァレラチーズ、ルッコラなどをトッピングしたもの。<br>
              「サルモーネ」はイタリア語で「鮭」を意味する。  
            </p>
          </div>
          <div class="col-md-6 my-auto">
            <img src="assets/salmone.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          </div>
        </div>
      </div>
      <div id="tab2" class="tab">
        <div class="row my-5 scrollanime">
          <div class="col-md-6">
            <h2>
              <strong>クアトロ・フォルマッジ</strong>
            </h2>
            <p class="read">
              ゴルゴンゾーラ、モッツァレラ、グラナパダーノ、タレッジョなど多種類のチーズを用いたピザ。<br>
              お店によってブレンドされるチーズの種類が異なるのも、クアトロ・フォルマッジの楽しみのひとつ。<br>
              「クアトロ・フォルマッジ」とは、イタリア語で「4種類のチーズ」を意味する。
            </p>
          </div>
          <div class="col-md-6 my-auto">
            <img src="assets/folmazzi.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col-md-6">
            <h2>
              <strong>バンビーノ</strong>
            </h2>
            <p class="read">
              主にコーンをふんだんに使い、ベーコンやツナをトッピングしたピザ。<br>
              「バンビーノ」はイタリア語で「幼い男の子」を意味する。ピザに「バンビーノ」と名付けられた理由は、子供が好きな具材を多く使用しているから、という説が多くある。
            </p>
          </div>
          <div class="col-md-6 my-auto">
            <img src="assets/bambino.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col-md-6">
            <h2>
              <strong>ビスマルク</strong>
            </h2>
            <p class="read">
              半熟卵とハムをトッピングしているのが大きな特徴。<br>
              由来は、ビーフステーキに目玉焼きを載せたものがオットー・フォン・ビスマルク(ドイツの政治家・貴族、1815~1898)の好物であったため。
            </p>
          </div>
          <div class="col-md-6 my-auto">
            <img src="assets/bismalc.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col-md-6">
            <h2>
              <strong>ボスカイオーラ</strong>
            </h2>
            <p class="read">
              森でとれた豊かな山の幸きのこをメインとしているピザ。<br>
              エリンギや舞茸など好みのきのこに、ホワイトクリームやトマトソースを合わせる。<br>
              「ボスカイオーラ」は、イタリア語で「木こり風」を意味している。
            </p>
          </div>
          <div class="col-md-6 my-auto">
            <img src="assets/boscayolla.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            <p>出典元 : https://blog.giallozafferano.it/cucinaconmiasorella/pizza-alla-boscaiola-bianca/</p>
          </div>
        </div>
      </div>
      <div id="tab3" class="tab">
        <div class="row my-5 scrollanime">
          <div class="col-md-6">
            <h2>
              <strong>ビアンカ</strong>
            </h2>
            <p class="read">
              ピザ生地を焼いただけのもの、もしくはトマトソースを使わない白っぽいピザのこと。<br>
              ピザ生地に塩を振って焼き、パンのようにして食べることもある。<br>
              「ビアンカ」は、イタリア語で「白い」を意味する。
            </p>
          </div>
          <div class="col-md-6 my-auto">
            <img src="assets/bianca.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            <p>出典元 : https://www.pizza-fontana.com/fs/fontana/pizza/pz044</p>
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col-md-6">
            <h2>
              <strong>カプリチョーザ</strong>
            </h2>
            <p class="read">
              シェフの気まぐれピザ、日替わりメニューの要素が強いピザ。「カプリチョーザ」はイタリア語で「気まぐれな」を意味する。<br>
              イタリア料理チェーン店として有名な「カプリチョーザ」の語源でもある。
            </p>
          </div>
          <div class="col-md-6 my-auto">
            <img src="assets/trattoria.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            <p>出典元 : https://www.atpress.ne.jp/news/66673</p>
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col-md-6">
            <h2>
              <strong>クアトロ・スタジーニ</strong>
            </h2>
            <p class="read">
              四季折々の食材や、旬の食材をふんだんに用いて作られるピザのこと。
              「クアトロ・スタジーニ」は、イタリア語で「四季」を意味する。  
            </p>
          </div>
          <div class="col-md-6 my-auto">
            <img src="assets/kuatoro_stajini.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            <p>出典元 : https://www.olive-hitomawashi.com/column/2019/05/post-4914.html</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span id="scroll-back">
    <a href="#">
      <i class="fas fa-arrow-circle-up fa-3x"></i>
    </a>
  </span>
</div>  