<div id="container">
  <div id="theTarget">
    <div class="about">
      <div class="container about-container">
        <h1><strong>About</strong></h1>
        <p>
          ピザの種類について知る<br>
          本場イタリアにはどんな種類のピザがあるのか？<br>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col pb-4 text-center">
    <h1><strong>ピザの名前と代表的なトッピング</strong></h1>
    <p>
      ピザの種類は、大きく分けて3種類あります！<br>
      1つは「トマトソース系」<br>
      2つは「トマトソース以外のピザ」<br>
      3つは「トッピングが決まっていないピザ」です。<br>
      それぞれの種類について、見ていきましょう！
    </p>
  </div>
  <div class="wrap scrollanime">
    <ul id="tab-menu">
      <li><a href="#tab1" class="active">トマトソース系</a></li>
      <li><a href="#tab2" class="">トマトソース系以外</a></li>
      <li><a href="#tab3" class="">トッピングが決まっていない</a></li>
    </ul>
    <div id="tab-contents">
      <div id="tab1" class="tab">
        <div class="row my-5 scrollanime">
          <div class="col-md-7">
            <h2>
              <strong>マルゲリータ</strong>
            </h2>
            <p class="read">
              うおおおおおおおおおおおおお
            </p>
          </div>
          <div class="col-md-5">
            <img src="assets/margelita.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col-md-7">
            <h2>
              <strong>マリナーラ</strong>
            </h2>
            <p class="read">
              aaaaaaa
            </p>
          </div>
          <div class="col-md-5">
            <img src="assets/marinara.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col-md-7">
            <h2>
              <strong>ペスカトーレ</strong>
            </h2>
            <p class="read">
              aaaaaaa
            </p>
          </div>
          <div class="col-md-5">
            <img src="assets/pescatole.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col-md-7">
            <h2>
              <strong>オルトナーラ</strong>
            </h2>
            <p class="read">
              aaaaaaa
            </p>
          </div>
          <div class="col-md-5">
            <img src="assets/ortolana.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col-md-7">
            <h2>
              <strong>パルマ</strong>
            </h2>
            <p class="read">
              aaaaaaa
            </p>
          </div>
          <div class="col-md-5">
            <img src="assets/parma.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col-md-7">
            <h2>
              <strong>サルモーネ</strong>
            </h2>
            <p class="read">
              aaaaaaa
            </p>
          </div>
          <div class="col-md-5">
            <img src="assets/salmone.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          </div>
        </div>
      </div>
      <div id="tab2" class="tab">
        <div class="row my-5 scrollanime">
          <div class="col-md-7">
            <h2>
              <strong>クアトロ・フォルマッジ</strong>
            </h2>
            <p class="read">
              うおおおおおおおおおおおおお
            </p>
          </div>
          <div class="col-md-5">
            <img src="assets/folmazzi.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col-md-7">
            <h2>
              <strong>バンビーノ</strong>
            </h2>
            <p class="read">
              うおおおおおおおおおおおおお
            </p>
          </div>
          <div class="col-md-5">
            <img src="assets/bambino.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col-md-7">
            <h2>
              <strong>ビスマルク</strong>
            </h2>
            <p class="read">
              うおおおおおおおおおおおおお
            </p>
          </div>
          <div class="col-md-5">
            <img src="assets/bismalc.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col-md-7">
            <h2>
              <strong>ボスカイオーラ</strong>
            </h2>
            <p class="read">
              うおおおおおおおおおおおおお
            </p>
          </div>
          <div class="col-md-5">
            <img src="assets/boscayolla.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            <p>出典元 : https://blog.giallozafferano.it/cucinaconmiasorella/pizza-alla-boscaiola-bianca/</p>
          </div>
        </div>
      </div>
      <div id="tab3" class="tab">
        <div class="row my-5 scrollanime">
          <div class="col-md-7">
            <h2>
              <strong>ビアンカ</strong>
            </h2>
            <p class="read">
              うおおおおおおおおおおおおお
            </p>
          </div>
          <div class="col-md-5">
            <img src="assets/bianca.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            <p>出典元 : https://www.pizza-fontana.com/fs/fontana/pizza/pz044</p>
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col">
            <h2>
              <strong>カプリチョーザ</strong>
            </h2>
            <p>ooookokok</p>
          </div>
        </div>
        <div class="row my-5 scrollanime">
          <div class="col">
            <h2>
              <strong>クアトロ・スタジオーニ</strong>
            </h2>
            <p>ooookokok</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  