<div class="shop-picture img-fluid">
  <div class="container text-center py-5">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto menu-background">
        <h1><strong>管理者オススメShop</strong></h1>
        <p class="lead">
          管理人が選ぶ都内イタリアンレストラン3選<br>
          ご参考までにどうぞ！
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col my-5  text-center">
    <h1><strong>本場イタリアのピザを日本でも味わおう</strong></h1>
    <p>
      「日本では、本場イタリアのピザを味わえないのでは？」<br>
      そんなことはありません！<br>
      イタリアのレストランで修行を積んだシェフが国内で自分のお店を開業し、<br>
      人気を博しているレストランもあります！<br>
      このページでは、都内にある管理者オススメのピザ専門店3選をご紹介します！
    </p>
  </div>
  <div class="wrap scrollanime">
    <ul id="tab-menu">
      <li><a href="#tab4" class="active">ピッツェリアGG 吉祥寺</a></li>
      <li><a href="#tab5" class="">FREY’s Famous Pizzeria</a></li>
      <li><a href="#tab6" class="">Pizzeria da Aoki 'tappost'</a></li>
    </ul>
    <div id="tab-contents">
      <div id="tab4" class="tab">
        アイウエオ
      </div>
      <div id="tab5" class="tab">
        かきくけこ
      </div>
      <div id="tab6" class="tab">
        さしすせそ
      </div>
    </div>
  </div>
  <span id="scroll-back">
    <a href="#">
      <i class="fas fa-arrow-circle-up fa-3x"></i>
    </a>
  </span>
</div>