<div class="shop-picture img-fluid">
  <div class="container text-center py-5">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto menu-background">
        <h1><strong>管理者オススメShop</strong></h1>
        <p class="lead">
          管理人が選ぶイタリアンレストラン<br>
          ご参考までにどうぞ！
        </p>
      </div>
    </div>
  </div>
</div>