<div class="shop-picture img-fluid">
  <div class="container text-center py-5">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto menu-background">
        <h1><strong>管理者オススメShop</strong></h1>
        <p class="lead">
          管理人が選ぶ都内イタリアンレストラン3選<br>
          ご参考までにどうぞ！
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col my-5  text-center">
    <h1><strong>本場イタリアのピザを日本でも味わおう</strong></h1>
    <p>
      「日本では、本場イタリアのピザを味わえないのでは？」<br>
      そんなことはありません！<br>
      イタリアのレストランで修行を積んだシェフが国内で自分のお店を開業し、<br>
      人気を博しているレストランもあります！<br>
      このページでは、都内にある管理者オススメのピザ専門店3選をご紹介します！
    </p>
  </div>
  <div class="wrap scrollanime">
    <ul id="tab-menu">
      <li><a href="#tab4" class="active">ピッツェリアGG 吉祥寺</a></li>
      <li><a href="#tab5" class="">FREY’s Famous Pizzeria</a></li>
      <li><a href="#tab6" class="">Pizzeria da Aoki 'tappost'</a></li>
    </ul>
    <div id="tab-contents">
      <div id="tab4" class="tab">
        <div class="row">
          <h4 class="mx-auto"><strong>店内の窯で焼き上げた、オイル不使用のヘルシーピッツァのお店</strong></h4>
          <p>
          吉祥寺の地下にひっそりと佇む石窯ピザの名店「PIZZERIA GG」。<br>
          店内にはピッツァ窯があり、店内にはできたてのピッツァの香ばしい香りが広がっている。<br>
          ここのピッツァには小麦粉と塩水に酵母しか含まれておらず、オイル不使用なのでヘルシー。<br>
          そして入店を待つ場合でも、店員さんに名前と電話番号を伝えておけば、空いた時に連絡をもらえるのも嬉しい。テイクアウトも可能。<br>
          </p>
        </div>
        <div class="row my-4">
          <div class="col-sm-6">
            <img src="assets/pizzeria_gg_kichijoji.outside.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            <p>店舗外部の様子。店舗は地下1階にある。</p>
            <p>出典元 : https://magazine.aruhi-corp.co.jp/reporter/0000-3224/</p>
          </div>
          <div class="col-sm-6">
            <img src="assets/pizzeria_gg_kichijoji.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            <p>店舗内部の様子。</p>
            <p>出典元 : https://tabelog.com/imgview/original?id=r22546118455188</p>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-sm-6">
            <img src="assets/gg_pizza.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            <p>トマトソース系のピザから、当店看板メニューのジージー（モッツァレラ、バジリコ、ナス、リコッタ、ナポリサラミ）1600円。</p>
            <p>出典元 : https://mrs.living.jp/musashino/town_gourmet/<br>reporter/2932533</p>
          </div>
          <div class="col-sm-6">
            <img src="assets/bismalc_pizza.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            <p>トマトソース系以外のピザから、ビスマルク（モッツァレラ、ハム、マッシュルーム、半熟卵）1600円。</p>
            <p>出典元 : 左に同じ</p>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-sm-9 mx-auto">
            <h4 class="text-center"><strong>店舗基本情報</strong></h4>
            <table class="table table-bordered my-3">
              <tbody>
                <tr>
                  <td class="table-warning">店舗名</td>
                  <td>ピッツェリア GG 吉祥寺</td>
                </tr>
                <tr>
                  <td class="table-warning">電話番号</td>
                  <td>050-5487-5455</td>
                </tr>
                <tr>
                  <td class="table-warning">住所</td>
                  <td>
                    <p>〒180-0003 東京都武蔵野市吉祥寺南町1-17-1 プレジールB1</p>
                    <div id="map" style="height: 300px; width: auto;"></div>
                  </td>
                </tr>
                <tr>
                  <td class="table-warning">アクセス</td>
                  <td>
                    JR中央線 吉祥寺駅 徒歩4分<br>
                    京王井の頭線 吉祥寺駅 徒歩4分
                  </td>
                </tr>
                <tr>
                  <td class="table-warning">営業時間</td>
                  <td>
                    <p>
                      月〜金<br>
                      ランチ 11:30〜15:30 (ラストオーダー 14:50) ※予約不可<br>
                      ディナー 18:00〜22:30 (ラストオーダー 21:50)
                    </p>
                    <p>
                      土・日・祝日<br>
                      11:30〜22:30 (ラストオーダー 21:50)<br>
                      ※11:30〜17:00は予約不可
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="table-warning">定休日</td>
                  <td>不定休日あり</td>
                </tr>
                <tr>
                  <td class="table-warning">平均予算</td>
                  <td>
                    2,500円（通常平均）<br>
                    1,500円（ランチ平均）
                  </td>
                </tr>
                <tr>
                  <td class="table-warning">総席数</td>
                  <td>30席</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div id="tab5" class="tab">
        かきくけこ
      </div>
      <div id="tab6" class="tab">
        さしすせそ
      </div>
    </div>
  </div>
  <span id="scroll-back">
    <a href="#">
      <i class="fas fa-arrow-circle-up fa-3x"></i>
    </a>
  </span>
</div>
