<div class="container my-5">
  <div class="text-center">
    <h1><strong>ご注文ありがとうございました！</strong></h1>
  </div>
  <div class="mt-4 text-center">
    <%= link_to "ピザメニューへ戻る", pizzas_path, class: "btn btn-primary" %>
  </div>
</div>