<div class="container mx-auto my-5">
  <div class="col">
    <h1 class="text-center">
      <i class="fas fa-user-cog fa-2x"></i>
      <strong><%= current_member.full_name %>さんの登録情報編集</strong>
    </h1>
  </div>
</div>